header {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    form {
        input[type="number"] {
            margin-right: 10px;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}